  #Kanses {
    background-color: red;
    height: 100px;
    color: black;
  } 

  body {
    font-family:'Times New Roman', Times, serif;
    background-image: url("/assets/KansesField2.webp");
    height: 100%;
    background-repeat: repeat;
    width: 100%;
    background-size: cover;
    background-position: center;
  }

  * {
    margin: 0;
    padding: 0;
  }

  .player, a {
    font-size: xx-large;
    color: black;
  }

  .left {
    float: left;
  }

  .wrapper {
    width: 1500x;
    margin: auto;
    overflow: auto;
  }
